body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: wrap;
  /* flex-direction: column; */
  height: 100vh;
  margin: 0;
}

/*  -----------------------  */
.bucket {
  flex: 1;
  width: 25%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  padding: 1rem;
  border: 1px solid #ccc;
}
/* .buckets {
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 1;
  overflow: auto;
} */
.bucket h2 {
  margin: 0 0 1rem;
  font-size: 1.2rem;
}
.bucket h2 .counter {
  font-size: 1rem;
  font-weight: normal;
  margin-left: 0.5rem;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

#Tool-Line {
  margin: 0;
  border: none;
  border-top: 1px solid #ccc;
}
/*  -----------------------  */
.container {
  max-height: calc(100% - 3rem);
  overflow-y: auto;
}

.card {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #f0f0f0;
  margin-bottom: 0.5rem;
  position: relative;
  cursor: move;
}
.card-body {
  display: none;
  margin-top: 0.5rem;
  white-space: pre-wrap;
}
.card:hover .card-body {
  display: block;
}
.card.disable-hover .card-body {
  display: block;
}
.move-left,
.move-right {
  position: absolute;
  top: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}
.move-left {
  right: 4rem;
}
.move-right {
  right: 3rem;
}
.x-to-remove-bucket {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 0.75rem;
  cursor: pointer;
}

.plus {
  position: absolute;
  top: 2rem;
  right: 1rem;
  font-size: 1.5rem;
}
/*  -----------------------  */
.minus {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 1.4rem;
  cursor: pointer;
}
input[type="text"] {
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
}
input[type="text"]:focus {
  outline: auto;
}






