body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
}

h1 {
    margin-bottom: 2rem;
}


.bar {
    fill: steelblue;
}

.axis text {
    font-size: 10px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.grid path,
.grid line {
    fill: none;
    stroke: rgba(0, 0, 0, 0.15);
    shape-rendering: crispEdges;
}

.zoom {
    cursor: move;
    fill: none;
    pointer-events: all;
}
